.toolbar {
    position: relative;
    border: 1px solid #d9d9d9;
    display: flex;
    padding: 2px;
    background-color: #ededed;
    background-image: -webkit-linear-gradient(top,#f9f9f9,#e3e4e6);
}

    .toolbar .toolbar-item {
        border: 1px solid rgba(0, 0, 0, 0.00);
        display: flex;
        align-self: center;
        padding: 2px 4px;
        background-color: transparent;
    }

        .toolbar .toolbar-item[disabled] {
            opacity: .25;
        }

        .toolbar .toolbar-item:not([disabled]):hover {
            background-color: #fff;
            border-color: #0071c1;
        }

        .toolbar .toolbar-item .toolbar-item-icon {
            width: 16px;
            height: 16px;
            background-image: url('/Contents/images/IconSprite.png');
            align-self: center;
        }

        .toolbar .toolbar-item .toolbar-item-text {
            line-height: 16px;
            padding: 0 5px;
            align-self: center;
            white-space: nowrap;
        }

    .toolbar .toolbar-separator-horizontal {
        border-style: solid;
        border-width: 0 0 0 1px;
        border-left-color: #ccc;
        height: 14px;
        align-self: center;
    }

.btn-icon-add {
    background-position: 0-2648px !important;
}

.btn-icon-duplicate {
    background-position: 0-1888px !important;
}

.btn-icon-edit {
    background-image: url('/Contents/images/Edit16.png') !important;
    background-repeat: no-repeat;
}

.btn-icon-delete {
    background-position: 0-2680px;
}

.btn-icon-refresh {
    background-position: 0-2584px;
}

.btn-icon-help {
    background-position: 0-1600px;
}

.btn-icon-import {
    background-image: url('/Contents/images/Import16.png') !important;
    background-repeat: no-repeat;
}

.btn-icon-export {
    background-image: url('/Contents/images/excel_97_24.png') !important;
    background-repeat: no-repeat;
}

.btn-icon-lump {
    width: 17px !important;
    background-image: url('/Contents/images/ic_GopKhachHang.png') !important;
    background-repeat: no-repeat;
}

.toolbar.toolbar-bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/*Toolbar paging*/
.toolbar-paging {
    background-color: #fff;
    background-image: none;
}

    .toolbar-paging .page-info {
        margin: 0 8px;
    }

        .toolbar-paging .page-info input {
            margin: 0 8px;
        }

    .toolbar-paging .toolbar-paging-item {
        padding: 3px;
        margin: 0 4px;
    }

    .toolbar-paging .toolbar-separator-horizontal {
        margin: 0 8px;
    }

    .toolbar-paging .toolbar-paging-item:not([disabled]):hover {
        border: 1px solid #d8d8d8;
        background-color: #ebebeb;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ededed),color-stop(50%,#ebebeb),color-stop(51%,#dfdfdf),color-stop(100%,#ebebeb));
        background-image: -webkit-linear-gradient(top,#ededed,#ebebeb 50%,#dfdfdf 51%,#ebebeb);
        background-image: -moz-linear-gradient(top,#ededed,#ebebeb 50%,#dfdfdf 51%,#ebebeb);
        background-image: -o-linear-gradient(top,#ededed,#ebebeb 50%,#dfdfdf 51%,#ebebeb);
        background-image: linear-gradient(top,#ededed,#ebebeb 50%,#dfdfdf 51%,#ebebeb)
    }

    .toolbar-paging .icon {
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
    }

        .toolbar-paging .icon.page-first {
            background-image: url('/Contents/images/grid/page-first.png') !important;
        }

        .toolbar-paging .icon.page-last {
            background-image: url('/Contents/images/grid/page-last.png');
        }

        .toolbar-paging .icon.page-next {
            background-image: url('/Contents/images/grid/page-next.png');
        }

        .toolbar-paging .icon.page-prev {
            background-image: url('/Contents/images/grid/page-prev.png');
        }

        .toolbar-paging .icon.page-refresh {
            background-image: url('/Contents/images/grid/refresh.png');
        }

    .toolbar-paging .triggerWrap {
        position: relative;
        display: flex;
        min-width: 60px;
        background-color: #f2f2f2;
        border-width: 1px;
        border-style: solid;
        line-height: 17px;
        border-color: #c1c1c1 #d9d9d9 #d9d9d9;
    }

        .toolbar-paging .triggerWrap button {
            position: absolute;
            right: 0;
            width: 22px;
            height: 22px;
            border-radius: unset;
        }
        .toolbar-paging .triggerWrap:focus-within {
            border-color: #c1c1c1 #d9d9d9 #d9d9d9;
        }
            .toolbar-paging .trigger-bountlist-box {
                min-width: 60px;
                top: -69px !important;
            }
    /*Hiển thị thông tin tổng số bản ghi*/
    .toolbar-paging .toolbar-paging-right {
        position: absolute;
        right: 0;
        align-self: center;
        padding-right: 8px;
    }
